<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zombiestepv01">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZombieStepV01"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.viewBaseActivity"></activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/Theme.DrawerMenu.NoActionBar" />
        <activity android:name=".Activities.StepCounterActivity" />
        <activity
            android:name=".Activities.Store"
            android:theme="@style/Theme.DrawerMenu.NoActionBar" />
        <activity android:name=".Activities.CameraActivity" />
        <activity android:name=".Activities.CompleteProfileActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity
            android:name=".Activities.MainWindow"
            android:theme="@style/Theme.DrawerMenu.NoActionBar" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>